@model BlueBook.Web.Models.ReleaseNotes.DetailsViewModel


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> @Model.Date.ToString("dd/MM/yyyy") @Model.Name </h2>
<h3>Tasks in the release @Model.NumberOfTasks</h3>
<a data-toggle="modal" data-target="#exampleModal" class="btn btn-success">Add Tasks</a>

@foreach (var group in @Model.Tasks.GroupBy(i => i.TargetTaskType))
{
<ul>
    <li>
        <h3>@group.Key</h3>
    </li>

    @foreach (var groupA in @Model.Tasks.GroupBy(i => i.Application))
    {
    <ul>
        <li>
            <h3>@groupA.Key</h3>
        </li>
        <ul>
            @foreach (var item in groupA)
            {
                <li>
                    <h4>
                        <b>@item.taskNumber</b> - @item.taskName
                    </h4>
                </li>
                @foreach (var Tdescription in @Model.Tasks)
                {
                    @foreach (var items in Tdescription.TaskDescriptions)
                    {
                        <ul>
                            <li>
                                <p>@items.taskDescriptions.Description</p>
                            </li>
                        </ul>
                    }

                }

            }
        </ul>
    </ul>
        
    }

</ul>
}

@{
    var x = new BlueBook.Web.Models.ReleaseNotes.AddTaskViewModel
    {
        releaseNoteId = Model.ReleaseNotesid,
    };
}

<partial name="_AddTasksModal" model="x" />




