 @model BlueBook.Web.Models.ReleaseNotes.ListViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<a class="btn btn-success" asp-action="AddRelease">Add New Release</a>
<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Name
            </th>
            <th>
                Number Of Tasks
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ReleaseNotes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfTasks)
            </td>
            <td>
                <a asp-action="Details" asp-route-releaseNoteId="@item.id">Details</a>
                <a asp-action="Delete" asp-route-releaseNoteId="@item.id">Remove</a>
            </td>
        </tr>
}
    </tbody>
</table>
