@model BlueBook.Web.Models.ReleaseNotes.ListViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var x = new BlueBook.Web.Models.ReleaseNotes.AddReleaseNoteViewModel();

}

<partial name="_AddRelease" model="x" />

<hr />
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                Date
            </th>
            <th>
                Name
            </th>
            <th>
                Number Of Tasks
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ReleaseNotes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfTasks)
                </td>
                <td>
                    <a asp-action="Details" asp-route-releaseNoteId="@item.id">Details</a>
                    <a asp-action="Delete" asp-route-releaseNoteId="@item.id">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>
